# Copy these values into Streamlit Cloud Secrets or your local .streamlit/secrets.toml
ADMIN_USERNAME = "ranjit.kolkar@nfsu.ac.in"
ADMIN_PASSWORD = "Admin@2021"
ADMIN_EMAIL = "ranjit.kolkar@nfsu.ac.in"
APP_ENCRYPTION_KEY = "EGtWTWFwWi0KumKQz6FJNuijneWJLP1n8HU9sZQ-PQE="
